/* im resetting the elements */
body, header, nav, main, footer {
    margin: 0;
    border: 0;
    padding: 0;
}


nav {
    width: 100vw;
    height: 60px; 
    margin-bottom: 80px;
    position: fixed; 
    top: 0; 
    background-color: #d8d8d8;
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0;
}

li {
    display: inline;
    float: right;
    margin-right:20px;
    padding: 20px;
}

a {
    text-decoration: none;
}

#basketball {
    background-image: url(./images/court.jpg);
    height: 100%;
    width: 100%;
    background-size: contain;
}