/* style reset fr sections */
body, header, nav, main, footer, img h1, h3, aside, figure, figcaption, video {
    margin: 0;
    border: 0;
    padding: 0;
}



body {
    background-color: #f6eee4;
}
img, video {
    max-width: 100%;
    display: block;
}

/* style rules for mobile viewport */
.mobile, .mobile-tablet {
    display: block;
}

.tab-desk, .desktop {
    display: none;
}

/* style rules for header area */

.mobile h1 h3 {
    padding: 2%;
    text-align: center;
}
/*style rules to show mobile clas and hide tab-desk class */




/* style rules for navigation */

nav {
    background-color: #2a1f14;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav li {
    display: block;
    font-size: 1.25em;
    font-family: Geneva, Arial, sans-serif;
    font-weight: bold;
    border-top: 0.5px solid #f6eee4;
}

nav li a {
    display: block;
    color: #f6eee4;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    text-decoration: none;
}

/*stye rules for main content */


/* style rules for main content */

main {
    padding: 2%;
    font-family: Verdana, Arial, sans-serif;
}

main p {
    font-size: 1.25em;
}

main h3 {
    padding-top: 2%;
}

main ul {
    list-style-type: square;
}


/* i have no clue what the .link and . action mean. */
.link {
    color: #4d3319;
    text-decoration: none;
    font-weight: bold;
    font-style: italic;
}

.action {
    font-size: 1.75em;
    font-weight: bold;
    text-align: center;
}

.round {
    border-radius: 6px;
}

aside {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 4px 4px solid #2a1f14;
}

figure {
    border: 4px solid #2a1f14;
    box-shadow: 6px 6px solid #2a1f14;
    max-width: 400px;
    margin: 2% auto;
}

figcaption {
    padding: 2%;
    border-top: 4px solid #2a1f14;
}

#info ul {
    margin-left: 10%;
}

#contact, #form h2 {
    text-align: center;
}

.tel-link {
    background-color: #2a1f14;
    padding: 2%;
    width: 80%;
    margin: 0 auto;
}

.tel-link a {
    color: #f6eee4;
    text-decoration: none;
    font-weight: bold;
}

/*Style rules for form elemnets*/
fieldset, input, textarea {
    margin-bottom: 2%;
}

fieldset legend {
    font-weight: bold;
    font-size: 1.25em;
}
fieldset {
    max-width: 100%;
}

label {
    display: block;
    padding-top: 2%;
    max-width: 100%;
}
input {
    width: 100%;
}

#submit {
    margin: 0 auto;
    display: block;
    padding: 2%;
    background-color: #78593a;
    color: #f6eee4;
    font-size: 1.25em;
    border-radius: 10px;
}

/* style rules for footer */

footer {
    text-align: center;
    font-size: .85em;
    background-color: #2a1f14;
    color: #f6eee4;
    padding: 1% 0%;
}

footer a {
    color: #f3e6d8;
    text-decoration: none;
}

.mobile h1 {
font-family: 'Emblema One', cursive;
}

.mobile h3 {
font-family: 'Lora', serif;
}




/* media query for tablet view */

@media screen and (min-width:620px) {
    /* tablet viewport: show tab-desk class, hide mobile class */
    .tab-desk {
        display: block;
    }
    .mobile {
        display: none;
    }

    /* tablet viewport:style rules for nav are */
    nav li {
        border-top: 0;
        display: inline-block;
        font-size: 1.25em;
        padding: 0.5em;
    }

    .grid {
        display: grid;
        grid-template-columns: 2;
        grid-gap: 10px;
    }

    aside {
        grid-column: 1 / span 2;
    }

    /* tablet viewport: Style rule for form element */
    form {
        width: 70%;
        margin: 0 auto;
    }


    /*media query for large desktop viewports */

@media screen and (min-width:1921px) {
    body {
        background-color: linear-gradient(#f6eee4, #78593a);
    }
    #wrapper {
        width: 1920px;
        margin: 0 auto;
    }
    main {
        background-color: #f6eee4;
    }
    .grid {
        grid-template-columns: 4;
    }
    aside {
        grid-column: 1 / span 4;
        font-size: 3em;
    }

}

/* media query for print */
@media print {
    body {
        background-color: white;
        color: black;
    }
}



/* media query for desktop viewport */
    @media screen and (min-width:1000px){
        /* desktop viewport : show desktop class, hide mobile-tablet class */
        nav li {
            font-size: 1.5em;
            padding: 0.5em 1.5em;
        }
        nav li:hover {
            color: #2a1f14;
            background-color: #f6eee4;
            opacity: 0.5;
        }

        .mobile-tablet {
            display: none;
        }



        /* style rules ofr main content */
        #info ul {
            margin-left: 5%;
        }

    
        .grid {
            grid-template-columns: 3;
            grid-gap: 30px;
        }
    
        aside {
            grid-column: 1 / span 3;
            font-size: 2em;
        }

        /*style rules for table */

        table {
            border: 1px solid #2a1f14;
            border-collapse: collapse;
            margin: 0 auto;
        }

        caption {
            font-size: 1.5em;
            font-weight: bold;
            padding: 1%;
        }

        th, td {
            border: 1px solid #2a1f14;
            padding: 1%;
        }

        th {
            background-color: #2a1f14;
            color: #fff;
            font-size: 1.15em;
        }

        tr:nth-child(odd) {
            background-color: #deccba;
        }

        /* Desktop viewport: style rules for form elements */
        form {
            width: auto;
        }
        .form-grid {
            display: grid;
            grid-template-columns: auto auto;
            grid-gap: 1/ span 2;
        }
    }
}