body, main, header, nav, footer {
    margin: 0;
    border: 0;
    padding: 0;
}

/* all the rules for the header and nav */
.heading h1 {
    float: left;
    color: white;
    position: absolute;
}
nav {
    width: 100vw;
    height: 60px;
    background-color: black;
    position: fixed;
    top: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    float: right;
    margin-right: 20px;
    padding-right: 20px;
    font-size: 1.5em;
}

nav a {
    text-decoration: none;
    color: white;
}


/* this is the picture with the quote */

.picture {
    margin-top: 0;
    background-image: url(../images/stars.jpg);
    height: 50%;
    width: 100%;
    background-size: contain;
}

.picture p {
    font-size: 5em;
    font-style: italic;
    text-align: center;
    color: white;
    padding: 5%;
}

/* this is for the first section */

.section1 {
    width: 100%;
    height: 100%;
    float: right;
}

#text1 {
    font-size: 2.5em;
    text-align: center;
}

.pic1 {
    margin-top: 0;
    background-image: url(../images/stars.jpg);
    height: 50px;
    width: 100px;
    background-size: contain;
}
